@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

span {
    color: #252525;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.show-explanation {
    box-shadow: 0 0 0 1000vmax rgba(0, 0, 0, 0.8);
}

.show-explanation::after {
    content: "* Серые I, а белые II";
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120%;
    height: 2rem;
    background-color: white;
    position: absolute;

    z-index: 50;
    top: -3rem;
    left: -10%;
}
